@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    padding: 8px 16px;
}

.home-hero-img {
    background-image: url(../assets/header3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.shop-hero-img {
    background-image: url(../assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}